<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Acceder</title>
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script> -->
  <link rel="stylesheet" href="/css/bulma.min.css">
  <script defer src="/js/all.js"></script>
</head>

<body>
  <div id="app">
    <section class="section">
      <div class="columns">
        <div class="column is-one-third is-offset-one-third">
          <h1 class="title">
            Login
          </h1>
          <p class="subtitle">
            Accede a tu espacio privado
          </p>
          <div class="columns">
            <div class="column">
              <div v-show="msg"class="notification is-danger">
                {{msg}}
              </div>
              <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input is-success" type="email" placeholder="Email input" value="hello@" v-model="email" autofocus>
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                  <span v-show="msg" class="icon is-small is-right">
                    <i class="fas fa-exclamation-triangle"></i>
                  </span>
                </div>                
              </div>

              <div class="field">
                <label class="label">Password</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input is-danger" type="password" placeholder="" value="hello@" v-model="password">
                  <span class="icon is-small is-left">
                    <i class="fas fa-key"></i>
                  </span>
                  <span v-show="msg" class="icon is-small is-right">
                    <i class="fas fa-exclamation-triangle"></i>
                  </span>
                </div>                
              </div>
              <div class="mt-5">
                <div class="field">
                  <button class="button  is-link is-pulled-right" @click="login">Entrar</button>
                </div>
                <div class="field">
                  <a href="register.html" class="button is-link is-light is-pulled-left">No tengo cuenta</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>
  </div>

  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script> -->
  <script src="/js/vue.js"></script>
  <script>
    const app = new Vue({
    el: '#app',
    data: {
      email: '',
      password: '',
      msg: '',
    },    
    created(){
      // if (!localStorage.getItem('token')) {
      //     window.location.href = 'login.html';
      //     return;
      // }
    },
    methods: {
      // cerrarSesion(){
      //   localStorage.removeItem('token');
      //   window.location.href = 'login.html';
      //   return;
      // },
      async login(){
        datos = JSON.stringify({
            email: this.email,
            password: this.password
        });

        console.log('pues', datos)

        respuesta = await fetch('/login', {
                                  method: 'POST',
                                  headers: {
                                    'Content-Type': 'application/json'
                                  },
                                  body: datos
                                });
        
        if (respuesta.status==200) {
          respuesta = await respuesta.json();
          console.log(respuesta);
          localStorage.setItem('token', respuesta.token);
          return window.location.href = 'index.html';
        } else {
          respuesta = await respuesta.json();
          console.log(respuesta);
          this.msg=respuesta.msg;
          // alert(respuesta.msg);
        }
        
      }
    }
  });

  </script>



</body>

</html>